* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.game-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 1px solid black;
}

.cell {
  color: black;
  height: 75px;
  width: 75px;
  font-size: 50px;
  line-height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.status {
  margin-top: 20px;
  font-size: 25px;
}

.restart {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid black;
  font-size: 15px;
  cursor: pointer;
}